<div class="row">
    <div class="col-12 d-flex flex-column align-items-center">
        <span class="headerText">About</span>
        <p>Hiya! I'm Dom, a software developer in San Diego. Technical skills include</p>
        <div class="d-flex flex-wrap flex-row">
            <div class="pill me-2">Angular</div>
            <div class="pill me-2">Nodejs</div>
            <div class="pill me-2">Html</div>
            <div class="pill me-2">CSS</div>
            <div class="pill me-2">Typescript</div>
        </div>
    </div>
</div>