<div #home class="helloSection">
    <div class="row xs-column-reverse justify-content-center home-padding">
        <div class="col-lg-6 col-sm-6 col-xs-12 d-flex flex-column align-items-center">
            <span class="helloText">Wazzzzup</span>
            <span class="name pt-2">Dom Leggio</span>
            <span class="headerText pt-2 pb-2">Software Developer</span>
            <span class="info pt-4">domleggio@gmail.com</span>
            <span class="info">Sacramento, CA</span>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12 d-flex flex-column align-items-center">
            <app-photo></app-photo>
    </div>
</div>