.helloSection {
    margin-top: 50px
}
.sectionSeparator {
    padding: 180px 0
}

.helloText {
    background-color: #104E8B;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 5px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
    color: white;
    width: 138px;
    margin-top: 20px
}

.name {
    color: black;
    opacity: .8;
    font-size: 3rem;
    font-weight: 600
}

.info {
    color: black;
    opacity: .8;
    font-size: 14px;
    font-weight: 600
}

@media only screen and (max-width: 575px) {
    .xs-column-reverse {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
}

.home-padding {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 100px;
    padding-left: 0px;
}
.developerText {
    font-size: 22px
}
