<div class="helloSection">
    <div class="sectionSeparator">
        <div class="row">
            <div class="col-12 d-flex flex-column align-items-center">
                <span class="helloText">Wazzzzup</span>
                <span class="name pt-2">Dom Leggio</span>
                <span class="headerText pt-2 pb-2">Software Developer</span>
                <span class="info pt-4">domleggio@gmail.com</span>
                <span class="info">San Diego, CA</span>
            </div>
        </div>
    </div>
</div>