<div class="helloSection">
    <div class="row flex-column-reverse">
        <div class="col-6 d-flex flex-column align-items-center">
            <span class="helloText">Wazzzzup</span>
            <span class="name pt-2">Dom Leggio</span>
            <span class="headerText pt-2 pb-2">Software Developer</span>
            <span class="info pt-4">domleggio@gmail.com</span>
            <span class="info">San Diego, CA</span>
        </div>
        <div class="col-6 d-flex flex-column align-items-center">
            <app-photo></app-photo>
    </div>
</div>