<div class="row home-padding">
    <div class="col-12 d-flex flex-column align-items-center">
        <span class="headerText">Travel</span>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-xs-12 pb-2">
                <travel-photo [src]="'https://i.ibb.co/mX2fPGd/Image-from-i-OS-7.jpg'">
                </travel-photo>

            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <travel-photo [src]="'https://i.ibb.co/mX2fPGd/Image-from-i-OS-7.jpg'">
                </travel-photo>

            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <travel-photo [src]="'https://i.ibb.co/mX2fPGd/Image-from-i-OS-7.jpg'">
                </travel-photo>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <travel-photo [src]="'https://i.ibb.co/mX2fPGd/Image-from-i-OS-7.jpg'">
                </travel-photo>

            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <travel-photo [src]="'https://i.ibb.co/mX2fPGd/Image-from-i-OS-7.jpg'">
                </travel-photo>

            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <travel-photo [src]="'https://i.ibb.co/mX2fPGd/Image-from-i-OS-7.jpg'">
                </travel-photo>
            </div>
        </div>
    </div>