.home-padding {
    padding: 100px 0;
}
.card-img-top {
    width: 100%;
}
.card {
    border-style: none
}

.quoteRow {
    background-color: #104E8B;
    border-radius: 2px;
    box-shadow: 0px 10px 20px 4px #00000015;
}