<div class="row home-padding">
  <div class="col-12 d-flex flex-row align-items-center justify-content-center">
    <figure class="text-end">
      <blockquote class="blockquote">
        <p class="headerText">Permanent vacation for <span class="themeColorSecondary">forever.</span></p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Rapsody
      </figcaption>
    </figure>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card-group">
      <div class="card p-4">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/oBiYAuGB9gphw0zTwovPasDzXSwtGzisjz3UQgrf2nxXmzal1WXKtWupxjUbrN3bCkWLVe2M6PCnvWffIdu-w1wF_QF1sY80UU1fZSJbIK28mQs4Gt8ivbSr8bzXTsAFT_z3Ls7smnPq90_6kwp-_wzfEezvE9pNwedNJOsA6Wpwbx47cXF0Ucl4j4qZma0CvDTLc1YNc9pWZJXk130HuW5Yg7xKWlYlC8euXxYWVVRXACBHlMuyp7XqTbEraaqGW6mTqqJTpEdNumx3mffyLaQeuy2zjka_hCDbcEy0cynhnPJh6RNsSMtzNaT8UIRb4VCWh2tAqSlUcwSNfD4EpvkY62I38D-JlVB-DM2NpsNhbSFx82PPDwwfmOZd23e7keYjWz31oeQeXZt5OVIWH1_uGMXXN6zmwiAvVQ4a7s7FCGgY5XEE0RO03jSQ1j_93xFZZKdBwTgGwaVD8z0m9U2XM_SdbJUja82fVdpzC9LP9yLczEeyDvt0HBSe-lWJqmQ7Z8WusxLOb8PNnQ8Jqa-muEnXhpqSXT_HglpdcY5VGXjdjDGUBndnQybyM4kgIWSC_muGcZE-9Qf87-_cXdPiWiiyl4zbNycK3ZR-6cnzzqFz9s4CCdvyI1ZQHhm13Saj1mp6Xt4QI9XAvnKKAKFtkw97S99mhUKqPkGidE_cptj1UdfZ8aK3BdX0mlsISFUHptY7_Xn6NbFybpU1PKiNiFsqMl9qNoQzqsBum6mbboRSdzIAM5U77LWATpExUMtXnRW-KLsZa87tju66D2EtAiGLU2LN=w2640-h1760-no?authuser=0" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Grindelwald, Switzerland</h5>
          <p class="card-text text-center"><small class="text-muted">December 2017</small></p>
        </div>
      </div>
      <div class="card p-4">
        <img class="card-img-top" src="https://i.ibb.co/c2NhwcG/DSC-0400.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Kauai</h5>
          <p class="card-text text-center"><small class="text-muted">January 2022</small></p>
        </div>
      </div>
      <div class="card p-4">
        <img class="card-img-top" src="https://i.ibb.co/zfs4TJt/DSC-0033-1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Reynisfjara Beach, Iceland</h5>
          <p class="card-text text-center"><small class="text-muted">March 2019</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-12">
    <div class="card-group">
      <div class="card p-4">
        <img class="card-img-top" src="https://i.ibb.co/FKDyrrW/DSC-0452.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Moab, Utah</h5>
          <p class="card-text text-center"><small class="text-muted">July 2020</small></p>
        </div>
      </div>
      <div class="card p-4">
        <img class="card-img-top" src="https://i.ibb.co/CtNpYjp/DSC-0925.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Madrid, Spain</h5>
          <p class="card-text text-center"><small class="text-muted">February 2022</small></p>
        </div>
      </div>
      <div class="card p-4">
        <img class="card-img-top" src="https://i.ibb.co/17vfLQR/IMG-4565.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Kenai River, Alaska</h5>
          <p class="card-text text-center"><small class="text-muted">September 2019</small></p>
        </div>
      </div>
    </div>
  </div>
</div>