<div class="row home-padding">
    <div class="col-12 text-center pb-5">
        <span class="headerText p-5">Jobs</span>
    </div>
    <div class="col-12">
        <div class="card pb-3">
            <div class="card-body ps-4 d-flex flex-column">
                <div class="pb-2 my-card-header pt-2">Software Developer <span class="companyName themeColorSecondary">Kaufman Hall</span></div>
                <div class="my-card-text">
                    I am currently a full stack developer for Kaufman Hall.
                </div>
                <div class="my-card-text">
                    Responsibilities:
                </div>
                <ul class="m-0 my-card-text">
                    <li>Write and maintain backend + frontend code for 10+ internal software applications</li>
                    <li>Implement latest technologies using Angular frontend and .NET Core Entity Framework architectures</li>
                    <li>QA coworkers implementations via manual review and code review</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-body ps-4 d-flex flex-column">
                <div class="pb-2 my-card-header pt-2">Frontend software developer <span class="companyName themeColorSecondary">Simple But Needed</span></div>
                <div class="my-card-text">
                    From 2019-2022 I was a frontend web developer for Simple But Needed.
                </div>
                <div class="my-card-text">
                    Responsibilities:
                </div>
                <ul class="m-0 my-card-text">
                    <li>Design and implement Angular components using best practices</li>
                    <li>Write Unit and e2e tests for features I implement</li>
                    <li>QA coworkers implementations via manual review and code review</li>
                </ul>
            </div>
        </div>

    </div>
</div>