.home-padding {
    padding: 100px 0;
}

.card-body {
    box-shadow: 0px 10px 20px 4px #00000015;
}
.card {
    border: none
}
.my-card-header {
    font-size: 24px;
}
.my-card-text {
    font-size: 14px;
    font-weight: 350
}