<div class="container">
    <div class="row" style="margin-top: 100px">
        <div class="col-12 flex-column align-items-start">
            <h2>Tutorial: Azure blob upload/download with customer provided encryption</h2>
            <div>A how to guide using Angular and .NET 6 Core</div>
            <h3 class="mt-5">Upload</h3>
            <p>My requirements called for our file to be uploaded through a REST API. We will start with the frontend typescript and html. Nothing fancy here.</p>

            <h3>Download</h3>
            <p>My file upload and download process can be seen in the graphic below.</p>

        </div>
    </div>
</div>

