<div class="container" style="min-height: 1000px">
    <div class="row" style="padding-top: 100px;">
        <div class="col-12">
            <app-hello-section id="home"></app-hello-section>
            <app-about-section id="hello" ></app-about-section>
            <app-web-development-section id="experience"></app-web-development-section>
            <app-what-i-do-section id="what-i-do"></app-what-i-do-section>
            <app-travel-section id="travel"></app-travel-section>
            <app-contact-me id="contact-me"></app-contact-me>
        </div>
    </div>
</div>

